/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab:100';
body {
    background-color: lightgray;
}

h1 {
    color: lightcoral;
    font-size: 100px;
    font-weight: 100;
    font-family: 'Josefin Slab', serif;
}
.card {
  margin: 0 auto 2rem;
  padding: 1rem;
  min-width: 10rem;
  /*max-width: 20rem;*/
  background-color: white;
  word-wrap: break-word;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}