/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab:100';
body {
    background-color: lightgray;
}

h1 {
    color: lightcoral;
    font-size: 100px;
    font-weight: 100;
    font-family: 'Josefin Slab', serif;
}